.container {
    background-color: #ff686b;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    border-radius: 25px;
    border-color: #ff686b;
    padding: 30px 10px;
    display: flex;               
    flex-direction: column;      
    align-items: center;         
    justify-content: center; 
    text-align: center;    
    width: 100%;                 
    max-width: 600px;            
    margin: 0 auto;              
}

.form-group {
    display: flex;               
    flex-direction: column;      
    margin-bottom: 15px;         
    width: 100%;                 
    max-width: 500px;
    border-radius: 25px;          
}

.form-group label {
    margin-top: 5px;
    margin-bottom: 5px;         
    font-weight: bold;
    text-align: center;
    width: 100%;         
}

.input {
    background: #ffffff;
    border: 2px solid #f0f1f9;
    border-radius: 25px;
    width: 100%;                 
    color: #7177a1;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;   
}

.messageBox {
    width: 100%;                 
    box-sizing: border-box;  
    margin-bottom: 10px;
}

  