.NavBar {
    background-color: #fff;
    border: 5px solid #a0c4ff;
    border-radius: 25px;
}

.NavLink {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.NavLink.d-md-block {
    display: flex;
    align-items: center;
    padding: 5px;
}

.NavLink.d-md-none {
    display: flex; 
    align-items: center;
}

/* Media queries */

/* Mobile - Show all icons and text */
@media (max-width: 767px) {
    .NavLink > span {
        display: inline; /* Show text on mobile */
    }
}

/* Tablets (768px to 1023px) - Show only icons */
@media (min-width: 768px) and (max-width: 1023px) {
    .NavLink > span {
        display: none; /* Hide text on tablets */
    }

    .NavLink i {
        font-size: 1.8rem;
    }
}

/* Large screens (1024px and above) - Show all text and icons */
@media (min-width: 1024px) {
    .NavLink > span {
        display: inline; /* Show text on larger screens */
    }

    .NavLink i {
        font-size: 1.8rem;
    }
}
