.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Like {
    color: #a0c4ff;
  }
  
  .Like:hover {
    color: #ff686b;
  }
  
  .Likeoutline:hover {
    color: #a0c4ff;
  }